<%- include('./partials/header') %>
    <main id="NewsMain">
        <section id="NewsSection">
            <h1>NEWS <span class="punkt"></span> </h1>
        </section>
        
        <article id="NewsArticle">
            <% news.forEach(newsItem =>{ %>
                <div class="NewsDiv">    
                    <div class="NewsBilder">
                        <a href="#"> <img src=<%=newsItem.img %> alt=""> </a>
                    </div>
                    <div class="textDiv">
                        <h2><%=newsItem.text%></h2>
                        <h4><%= newsItem.word %>  
                            <span><%= newsItem.time %></span> 
                        </h4>
                    </div>
                    <div class="right">
                        <a href="#">
                            <img src="assets/img/arrow-black.svg" alt="#" class="arrow">
                        </a>
                    </div>
                </div>  
                <% }) %>
        </article>
        <script src="assets/js/main.js"></script>
    </main>
    <%-include('./partials/footer')%>



    



